### Code for todays working people

In [9]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd

In [10]:
# Head count of workers

from datetime import date,timedelta

today=date.today()

print(today)

previous_day= today - timedelta(days=1)

print(previous_day)
todays_date = today.strftime("%m/%d/%Y")
print(todays_date)


previous_date=previous_day.strftime("%m/%d/%Y")

print(previous_date)

2023-07-05
2023-07-04
07/05/2023
07/04/2023

In [11]:
df2=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQSjwmOOwc1iHvIl_gc1mlUB9Pa_rB7pwg__Agq7JQowZ8XvycnGG2AxsXyk9WDJ4h_clBt0jiceTDl/pub?output=csv")

In [12]:
df2.head(25)

,Name,Work Order,Status,Description,Site,Date Created,Time Created,Assigned_Hours,Duration1,Date1,Duration2,Date2,Duration3,Date3,Duration4,Date4,Duration5,Date5
0,Test2,AHT2,Created,Testing3,Sutter- Huller/Dryer,06/20/2023,3:22:19 PM,3,4.000000,06/01/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Devang,AHC3,Completed,Testing,Dixon- Home Piece,06/20/2023,3:26:02 PM,5,5.000000,06/25/2023,3,06/25/2023,NaN,NaN,NaN,NaN,NaN,NaN
2,Atharva,AHR4,Created,Description test,Rio Oso- Home/ Shop,06/20/2023,3:30:27 PM,3,5.000000,06/25/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Test3,AHT3,Completed,completed,Sutter- Huller/Dryer,06/21/2023,1:20:53 PM,6,4.000000,06/21/2023,1,06/21/2023,NaN,NaN,NaN,NaN,NaN,NaN
4,Tester1,ALC6,Paused,Testing the date time,Dixon- East Block,06/21/2023,1:32:16 PM,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,awdawd,EHR7,Created,dawdsd,Dixon- Shop,06/21/2023,4:05:50 PM,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Test-4,AMR8,Completed,Work 4,Dixon- East Block,06/21/2023,11:06:12 AM,3,1.000000,06/21/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Test-5,SHT9,Paused,work-5,Sutter- Home,06/22/2023,11:11:14 AM,1,0.019640,06/22/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Test-6,SLR10,Created,work-6,Rio Oso- Home/ Shop,06/22/2023,11:16:19 AM,3,2.000000,06/12/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Test-7,AMC11,Created,work-7,Elmira- Field,06/22/2023,11:17:59 AM,4,5.000000,06/18/2023,3,06/18/2023,NaN,NaN,NaN,NaN,NaN,NaN
10,Test-8,SHT12,Created,work-8,Dixon- Middle Block,06/22/2023,11:18:53 AM,3.5,3.000000,06/14/2023,5,06/15/2023,NaN,NaN,NaN,NaN,NaN,NaN
11,Test-9,SMR13,Completed,work-9,Dixon- Home Piece,06/22/2023,11:19:39 AM,1.2,2.000000,06/15/2023,2,06/29/2023,NaN,NaN,NaN,NaN,NaN,NaN
12,Test-10,AHC14,Created,work-10,Rio Oso- Home/ Shop,06/22/2023,11:20:18 AM,2.5,4.000000,06/16/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Test-11,SMF15,Created,work-11,Rio Oso- Chico Block,06/22/2023,11:21:35 AM,3.2,3.000000,06/17/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Test-12,ALR16,Completed,work-12,Rio Oso- Hundred Acre Block,06/22/2023,11:22:26 AM,4.5,3.134560,06/25/2023,1.803,06/24/2023,NaN,NaN,NaN,NaN,NaN,NaN
15,Test-13,AMT17,Completed,work-13,Dixon- Middle Block,06/22/2023,11:23:09 AM,6.5,6.000000,06/25/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Test-14,SHC18,Completed,work-13,Sutter- Huller/Dryer,06/22/2023,11:23:54 AM,1,2.000000,06/25/2023,2,06/23/2023,NaN,NaN,NaN,NaN,NaN,NaN
17,Test-15,SHT19,Completed,work-15,Rio Oso- Chico Block,06/22/2023,11:25:57 AM,8,4.000000,06/27/2023,5,06/29/2023,1.0,06/29/2023,3.0,06/23/2023,NaN,NaN
18,Test-16,SMF20,Started,work-16,Dixon- Home Piece,06/22/2023,11:28:31 AM,2.5,2.000000,06/29/2023,2:15:13 PM,07/03/2023,1.0,07/02/2023,NaN,NaN,NaN,NaN
19,Test-23,SMR62,Started,Work-23,Dixon- West Block,07/03/2023,12:58:17 PM,3.5,2.000000,07/02/2023,2:26:43 PM,07/03/2023,NaN,NaN,NaN,NaN,NaN,NaN
20,Test-25,AMT64,Paused,Work-25,Rio Oso- Home/ Shop,07/03/2023,2:34:28 PM,3,1.572666,07/03/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Test-26,AMT65,Paused,Work-26,Dixon- Home Piece,07/03/2023,2:55:21 PM,3,1.254206,07/03/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Test111,ALC66,Completed,Test111,Dixon- Home Piece,07/03/2023,4:12:59 PM,111,0.038684,07/04/2023,0.006136111111111111,07/04/2023,NaN,NaN,NaN,NaN,NaN,NaN
23,Atharv,AHC67,Paused,Print out all the documents and scan them and ...,Chico- Office,07/03/2023,5:22:44 PM,0.5,0.010501,07/04/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Devang,ELR26,Created,get the paper from trader joes then giver them...,Chico- Office,07/03/2023,5:26:10 PM,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2.columns

Index(['Name ', 'Work Order', 'Status', 'Description', 'Site', 'Date Created',
       'Time Created', 'Assigned_Hours', 'Duration1', 'Date1', 'Duration2',
       'Date2', 'Duration3', 'Date3', 'Duration4 ', 'Date4 ', 'Duration5 ',
       'Date5 '],
      dtype='object')

## Formula for yesterdays work Tracking

In [15]:
import pandas as pd
from datetime import date, timedelta

previous_day = date.today() - timedelta(days=2)
previous_day_str = previous_day.strftime("%m/%d/%Y")

worker_hours = {}

for i in range(1, 6):
    date_col = f"Date{i}"
    duration_col = f"Duration{i}"
    
    try:
        df_filtered = df2[df2[date_col] == previous_day_str]
        
        for index, row in df_filtered.iterrows():
            name = row['Name ']
            duration = row[duration_col]
            
            if pd.notnull(duration):
                duration = str(duration)  # Convert duration to string
                
                if ':' in duration and ('AM' in duration or 'PM' in duration):
                    worker_hours[name] = worker_hours.get(name, 0) + 0
                elif name in worker_hours:
                    worker_hours[name] = worker_hours.get(name, 0) + round(float(duration), 2)
                else:
                    worker_hours[name] = round(float(duration), 2)
    except KeyError:
        continue

# Print the names and total hours
for name, hours in worker_hours.items():
    print(f"{name}: {hours} hours")
print(worker_hours)

Test-25: 1.57 hours
Test-26: 1.25 hours
Test-16: 0 hours
Test-23: 0 hours
{'Test-25': 1.57, 'Test-26': 1.25, 'Test-16': 0, 'Test-23': 0}

### last week date print

In [10]:
from dateutil.relativedelta import relativedelta, MO,SU

# getting today's current local date
todayDate = date.today()

todayDate1=todayDate.strftime("%m/%d/%Y")
print('Today Date:',todayDate1)


lastMonday = todayDate + relativedelta(weekday=MO(-2))
lastMonday1=lastMonday.strftime("%m/%d/%Y")
# printing the last Monday date
print("The last Monday date:", lastMonday1)

lastSunday=todayDate + relativedelta(weekday=SU(-1))
lastSunday=lastSunday.strftime("%m/%d/%Y")
print("last sunday was ", lastSunday)

Today Date: 07/03/2023
The last Monday date: 06/26/2023
last sunday was  07/02/2023

### Formula for last week Work Tracking

In [11]:
from datetime import datetime, timedelta
import pandas as pd

# Get the dates for the previous week
today = datetime.today()
last_sun = today - timedelta(days=today.weekday() + 1)
last_sunday = last_sun.strftime('%m/%d/%Y')

last_mon = last_sun - timedelta(days=6)
last_monday = last_mon.strftime("%m/%d/%Y")

print(last_monday)
print(last_sunday)

worker_hours2 = {}

for i in range(1, 6):
    date_col = f"Date{i}"
    duration_col = f"Duration{i}"
    
    try:
        df_filtered = df2[(pd.to_datetime(df2[date_col]) >= pd.to_datetime(last_monday)) & (pd.to_datetime(df2[date_col]) <= pd.to_datetime(last_sunday))]
        
        for index, row in df_filtered.iterrows():
            name = row['Name ']
            duration = row[duration_col]
            
            if pd.notnull(duration):
                duration = str(duration)  # Convert duration to string
                
                if ':' in duration:
                    
#                     duration_parts = duration.split(':')
#                     hours = int(duration_parts[0])
#                     minutes = int(duration_parts[1])
#                     seconds = int(duration_parts[2].split()[0])
                    
                    total_hours = 0
                    
                    if name in worker_hours2:
                        worker_hours2[name] += total_hours
                    else:
                        worker_hours2[name] = total_hours
                else:
                    if name in worker_hours2:
                        worker_hours2[name] += float(duration)
                    else:
                        worker_hours2[name] = float(duration)
    except KeyError:
        continue

# Display the names and total hours
for name, hours in worker_hours2.items():
    print(f"{name}: {hours} hours")
print(worker_hours2)

06/26/2023
07/02/2023
Test-15: 10.0 hours
Test-16: 2.0 hours
Test-23: 2.0 hours
Test-9: 2.0 hours
{'Test-15': 10.0, 'Test-16': 2.0, 'Test-23': 2.0, 'Test-9': 2.0}

### Funcction code for  Last Pay Period Tracking

In [17]:
from datetime import datetime, timedelta
import pandas as pd

today = datetime.today()
#today=pd.to_datetime('07/02/2023')
if today.day >= 16:
    start_date = datetime(today.year, today.month, 1)
    end_date = datetime(today.year, today.month, 15)
else:
    last_month_end = today.replace(day=1) - timedelta(days=1)
    start_date = datetime(last_month_end.year, last_month_end.month, 16)
    end_date = last_month_end

start_date_str = start_date.strftime("%m/%d/%Y")
end_date_str = end_date.strftime("%m/%d/%Y")
print(start_date_str)
print(end_date_str)
worker_hours3 = {}

for i in range(1, 6):
    date_col = f"Date{i}"
    duration_col = f"Duration{i}"
    
    try:
        df_filtered = df2[(pd.to_datetime(df2[date_col]) >= pd.to_datetime(start_date_str)) & (pd.to_datetime(df2[date_col]) <= pd.to_datetime(end_date_str))]
        
        for index, row in df_filtered.iterrows():
            name = row['Name ']
            
            duration = row[duration_col]
            
            if pd.notnull(duration):
                if name in worker_hours3:
                    worker_hours3[name] += float(duration)
                else:
                    worker_hours3[name] = float(duration)
    except KeyError:
        continue

for name, hours in worker_hours3.items():
    print(f"{name}: {hours} hours")

06/16/2023
06/30/2023
Devang: 8.0 hours
Atharva: 5.0 hours
Test3: 5.0 hours
Test-4: 1.0 hours
Test-5: 0.0196402777777777 hours
Test-7: 8.0 hours
Test-10: 4.0 hours
Test-11: 3.0 hours
Test-12: 4.9375599999999995 hours
Test-13: 6.0 hours
Test-14: 4.0 hours
Test-15: 10.0 hours
Test-16: 2.0 hours
Test-9: 2.0 hours

### Function code   for UTILIZATION

In [24]:
# getting data from utilization table

df3=pd.read_csv( "https://docs.google.com/spreadsheets/d/e/2PACX-1vT10tMtolzQfzmikUWpdP3K_r-9mC7K9xaOyzt7hwmKKF3WT9UTGPaNO4CndArmgsPVduNELK4Oeo1n/pub?gid=0&single=true&output=csv")
df3.head(30)

,Name,Day,Date,Checkin_Time,Checkout_Time,Total_Hours,Remarks(if any)
0,Test1,4.0,06/22/2023,11:48:19 AM,4:54:10 PM,5.097654,All good
1,Test1,4.0,06/22/2023,12:09:10 PM,4:54:49 PM,4.760936,All good
2,Devang,NaN,06/25/2023,12:09:10 PM,9:09:10 PM,9.000000,NaN
3,Atharva,NaN,06/25/2023,12:09:10 PM,6:09:10 PM,6.000000,NaN
4,Test-7,4.0,06/18/2023,3:27:27 PM,5:27:27 PM,2.000000,NaN
5,Test-8,4.0,06/14/2023,3:27:55 PM,9:27:55 PM,6.000000,NaN
6,Test-9,4.0,06/15/2023,3:28:15 PM,5:28:15 PM,2.000000,NaN
7,Test-10,4.0,06/16/2023,3:28:45 PM,6:28:45 PM,9.000000,NaN
8,Test-11,4.0,06/17/2023,3:29:35 PM,7:29:35 PM,4.000000,NaN
9,Test-6,4.0,06/12/2023,3:29:59 PM,8:29:59 PM,5.000000,NaN
10,Test2,4.0,06/22/2023,NaN,3:49:50 PM,NaN,Name did not checkin previously
11,Ameet Sharma,5.0,06/23/2023,2:09:27 PM,NaN,NaN,NaN
12,dawda,5.0,06/23/2023,2:11:42 PM,2:11:55 PM,0.003670,All good
13,Test-13,1.0,06/25/2023,2:11:42 PM,10:11:42 PM,8.000000,NaN
14,Test3,1.0,06/21/2023,3:29:59 PM,7:29:59 PM,4.000000,NaN
15,Test-4,1.0,06/21/2023,2:11:42 PM,3:11:42 PM,1.000000,NaN
16,Test-15,4.0,06/27/2023,11:23:09 AM,4:23:09 AM,5.000000,NaN
17,Test-16,4.0,06/29/2023,12:11:42 PM,4:11:42 PM,4.000000,NaN
18,Test-23,4.0,07/02/2023,12:58:17 PM,5:58:17 PM,5.000000,NaN
19,Test-9,1.0,06/15/2023,11:19:39 AM,5:19:39 PM,6.000000,NaN
20,Test-26,1.0,07/03/2023,2:53:37 PM,NaN,NaN,NaN

In [26]:
# get the name and duration from the previous week which is last monday to last sunday


# Get the dates for the previous week
today = datetime.today()
last_sun = today - timedelta(days=today.weekday() + 1)
last_sunday=last_sun.strftime('%m/%d/%Y')

last_mon = last_sun - timedelta(days=6)
last_monday=last_mon.strftime("%m/%d/%Y")

print(last_monday)
print(last_sunday)


#get the name off all people and add all the duration in 
df_filtered = df3[(pd.to_datetime(df3["Date"]) >= pd.to_datetime(last_monday)) & (pd.to_datetime(df3["Date"]) <= pd.to_datetime(last_sunday))]

#if we have checkin time and checkout time is there 


checkin_hours={}

for index, row in df_filtered.iterrows():
    name = row['Name']
    duration = row['Total_Hours']
            
    if pd.notnull(duration):
        if name in checkin_hours:
            checkin_hours[name] += float(duration)
        else:
            checkin_hours[name] = float(duration)

06/26/2023
07/02/2023

In [27]:
print(checkin_hours)

{'Test-15': 5.0, 'Test-16': 4.0, 'Test-23': 5.0}

In [28]:
print(worker_hours2)

{'Test-15': 10.0, 'Test-16': 2.0, 'Test-23': 2.0, 'Test-9': 2.0}

In [33]:
## calculating the efficency of each people in past week
Names=[]
utilization=[]
for item,values in worker_hours2.items():
    #print(item)
    for i,v in checkin_hours.items():
        if(item==i):
            Names.append(item)
            e=float((values/v)*100)
            utilization.append(e)

In [34]:
print(Names)

['Test-15', 'Test-16', 'Test-23']

In [35]:
print(utilization)

[200.0, 50.0, 40.0]

In [36]:
#creating the name and efficiencis dectionary
utilization_dict=dict(zip(Names,utilization))
print(utilization_dict)

{'Test-15': 200.0, 'Test-16': 50.0, 'Test-23': 40.0}

### Utilization Function  for last week

In [41]:

df3=pd.read_csv( "https://docs.google.com/spreadsheets/d/e/2PACX-1vT10tMtolzQfzmikUWpdP3K_r-9mC7K9xaOyzt7hwmKKF3WT9UTGPaNO4CndArmgsPVduNELK4Oeo1n/pub?gid=0&single=true&output=csv")
df3.head(30)

,Name,Day,Date,Checkin_Time,Checkout_Time,Total_Hours,Remarks(if any)
0,Test1,4.0,06/22/2023,11:48:19 AM,4:54:10 PM,5.097654,All good
1,Test1,4.0,06/22/2023,12:09:10 PM,4:54:49 PM,4.760936,All good
2,Devang,NaN,06/25/2023,12:09:10 PM,9:09:10 PM,9.000000,NaN
3,Atharva,NaN,06/25/2023,12:09:10 PM,6:09:10 PM,6.000000,NaN
4,Test-7,4.0,06/18/2023,3:27:27 PM,5:27:27 PM,2.000000,NaN
5,Test-8,4.0,06/14/2023,3:27:55 PM,9:27:55 PM,6.000000,NaN
6,Test-9,4.0,06/15/2023,3:28:15 PM,5:28:15 PM,2.000000,NaN
7,Test-10,4.0,06/16/2023,3:28:45 PM,6:28:45 PM,9.000000,NaN
8,Test-11,4.0,06/17/2023,3:29:35 PM,7:29:35 PM,4.000000,NaN
9,Test-6,4.0,06/12/2023,3:29:59 PM,8:29:59 PM,5.000000,NaN
10,Test2,4.0,06/22/2023,NaN,3:49:50 PM,NaN,Name did not checkin previously
11,Ameet Sharma,5.0,06/23/2023,2:09:27 PM,NaN,NaN,NaN
12,dawda,5.0,06/23/2023,2:11:42 PM,2:11:55 PM,0.003670,All good
13,Test-13,1.0,06/25/2023,2:11:42 PM,10:11:42 PM,8.000000,NaN
14,Test3,1.0,06/21/2023,3:29:59 PM,7:29:59 PM,4.000000,NaN
15,Test-4,1.0,06/21/2023,2:11:42 PM,3:11:42 PM,1.000000,NaN
16,Test-15,4.0,06/27/2023,11:23:09 AM,4:23:09 AM,5.000000,NaN
17,Test-16,4.0,06/29/2023,12:11:42 PM,4:11:42 PM,4.000000,NaN
18,Test-23,4.0,07/02/2023,12:58:17 PM,5:58:17 PM,5.000000,NaN
19,Test-9,1.0,06/15/2023,11:19:39 AM,5:19:39 PM,6.000000,NaN
20,Test-26,1.0,07/03/2023,2:53:37 PM,NaN,NaN,NaN

In [46]:
#df3=pd.read_csv( "https://docs.google.com/spreadsheets/d/e/2PACX-1vT10tMtolzQfzmikUWpdP3K_r-9mC7K9xaOyzt7hwmKKF3WT9UTGPaNO4CndArmgsPVduNELK4Oeo1n/pub?gid=0&single=true&output=csv") df3=pd.read_csv( "https://docs.google.com/spreadsheets/d/e/2PACX-1vT10tMtolzQfzmikUWpdP3K_r-9mC7K9xaOyzt7hwmKKF3WT9UTGPaNO4CndArmgsPVduNELK4Oeo1n/pub?gid=0&single=true&output=csv")

# Get the dates for the previous week
today = datetime.today()
last_sun = today - timedelta(days=today.weekday() + 1)
last_sunday=last_sun.strftime('%m/%d/%Y')

last_mon = last_sun - timedelta(days=6)
last_monday=last_mon.strftime("%m/%d/%Y")

print(last_monday)
print(last_sunday)


#get the name off all people and add all the duration in 
df_filtered = df3[(pd.to_datetime(df3["Date"]) >= pd.to_datetime(last_monday)) & (pd.to_datetime(df3["Date"]) <= pd.to_datetime(last_sunday))]

#if we have checkin time and checkout time is there 


checkin_hours={}

for index, row in df_filtered.iterrows():
    name = row['Name']
    duration = row['Total_Hours']
                
    if pd.notnull(duration):
        if name in checkin_hours:
            checkin_hours[name] += float(duration)
        else:
            checkin_hours[name] = float(duration)



## calculating the efficency of each people in past week
    name_utl=[]
    utl=[]
    for item,values in worker_hours2.items():
        #print(item)
        for i,v in checkin_hours.items():
            if(item==i):
                name_utl.append(item)
                e=float((values/v)*100)
                utl.append(e)

    #creating the name and efficiencis dectionary
utilization_dict=dict(zip(name_utl,utl))
print(utilization_dict)
#cheating a dropbox to chose the me form the

06/26/2023
07/02/2023
{'Test-15': 200.0, 'Test-16': 50.0, 'Test-23': 40.0}

### Efficiency  Function for Last Week

In [16]:
today = datetime.today()
last_sun = today - timedelta(days=today.weekday() + 1)
last_sunday = last_sun.strftime('%m/%d/%Y')

last_mon = last_sun - timedelta(days=6)
last_monday = last_mon.strftime("%m/%d/%Y")

print(last_monday)
print(last_sunday)

worker_hours2 = {}

for i in range(1, 6):
    date_col = f"Date{i}"
    duration_col = f"Duration{i}"
    work_order_col = f"Work Order"
    name_col = "Name "  # Adjust the column name here
        
    try:
        df_filtered = df2[(pd.to_datetime(df2[date_col]) >= pd.to_datetime(last_monday)) & (pd.to_datetime(df2[date_col]) <= pd.to_datetime(last_sunday))]
        for index, row in df_filtered.iterrows():
            work_order = row[work_order_col]
            duration = row[duration_col]
            name = row[name_col]
                
            if pd.notnull(duration):
                duration = str(duration)  # Convert duration to string
                if ':' in duration:
                    pass
                        
    #                     if work_order in worker_hours2:
    #                         worker_hours2[work_order] += total_hours
    #                     else:
    #                         worker_hours2[work_order] = total_hours
                else:
                    if work_order in worker_hours2:
                        worker_hours2[work_order] += float(duration)
                    else:
                        worker_hours2[work_order] = float(duration)
        
        except KeyError:
            continue

# Create a DataFrame from the worker_hours2 dictionary
table_ef = {'Work Order': worker_hours2.keys(),
            'Assigned Hours': [df2[df2['Work Order'] == wo]['Assigned_Hours'].sum() for wo in worker_hours2.keys()],
            'Total Duration': worker_hours2.values(),
            'Name': [df2[df2['Work Order'] == wo][name_col].values[0] for wo in worker_hours2.keys()]}  # Adjust the column name here
ef_table = pd.DataFrame(table_ef)

# Display the table
print(ef_table)
        # st.write(ef_table)

       """" #converting the string to float
        ef_table['Assigned Hours']=ef_table['Assigned Hours'].astype(float)

        # in the abobe table writing effenciency formula and addin a new coulmn of effenciecy 
        ef_final= { 'Work Order':ef_table['Work Order'],
                'Name': ef_table['Name'],
                'Efficiency': round((ef_table['Assigned Hours']/ef_table['Total Duration']*100),2)}
        efficiency_table=pd.DataFrame(ef_final)
        #st.write(efficiency_table)


        #using css from avobe
        st.markdown('<p class="nicebar">Efficiencies Past Week </p>', unsafe_allow_html=True)

        selected_wo=st.selectbox("Efficiencies of workorder ", efficiency_table['Work Order'])
        st.write(selected_wo)

        selected_row = efficiency_table[efficiency_table['Work Order'] == selected_wo]

        # Display the selected work order
        # st.write(selected_row)
        st.write(selected_row['Name'].iloc[0])
        st.write(selected_row['Efficiency'].iloc[0])
        e=selected_row['Efficiency'].iloc[0]"""

SyntaxError: invalid syntax (3542176367.py, line 35)